.container{
    display: grid;
    grid-template: repeat(3,100px) / repeat(4, 1fr)
}

.caixa1{
    background-color: red;
    /*grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;*/

    grid-area: 1/1/span 1/span 4;
}

.caixa2{ /*Feita as configuração para posicionar as caixas dentro da área desejada do grid layout. Dúvidas consultar o DOC*/
    background-color: green;
    /*grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 3;*/

    grid-area: 2/1/span 2/span 2; /*Aqui simplificamos mais ainda as propriedades. Dúvidas consultar o DOC. Note que podemos utilizar o span mesclado também*/
}

.caixa3{
    background-color: blue;
    /*grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 3;
    grid-column-end: -1;*/

    grid-area: 2/3/span 2/span 2;
}